<h1>{{type}} Request Received</h1>

<div>

  {{#if queryList}}

  <h3>The following values were received in the URL query string</h3>
  <table style="border: 1px solid black">
    <thead>
      <tr>
        <th style="border: 1px solid black">Parameter Name</th>
        <th style="border: 1px solid black">Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each queryList}}
        <tr>
          <td style="border: 1px solid black">{{this.name}}</td>
          <td style="border: 1px solid black">{{this.value}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/if}}

</div>

<div>

{{#unless queryList}}
<h3>Nothing was received in the URL query string</h3>
{{/unless}}

</div>

<div>
  {{#if bodyList}}

  <h3>The following values were received in the request body</h3>
  <table>
    <thead>
      <tr>
        <th>Parameter Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each bodyList}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.value}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/if}}
</div>

<div>
  {{#unless bodyList}}
  <h3>Nothing was received in the request body</h3>
  {{/unless}}
</div>
